<!-- 工具栏    [nzSize]="default"-->
<div>
  <nz-button-group>
      <button nz-button nzType="default" (click)="saveBill()"><i nz-icon nzType="save" nzTheme="outline"></i>保存</button>
      <button nz-button nzType="primary" (click)="addNewBill($event)"><i nz-icon nzType="plus" nzTheme="outline"></i>新增</button>
      <!-- <button nz-button nzType="default" (click)="startEdit($event)"><i nz-icon nzType="edit" nzTheme="outline"></i>修改</button> -->
      <button nz-button nzType="default" (click)="getMain()"><i nz-icon nzType="close" nzTheme="outline"></i>删除</button>
  </nz-button-group>&nbsp;

  <nz-button-group>
      <button nz-button nzType="default" nz-tooltip nzTitle="首单" (click)="moveFirst()"><i nz-icon nzType="vertical-right" nzTheme="outline"></i></button>
      <button nz-button nzType="default" nz-tooltip nzTitle="前一单" (click)="movePrevious()"><i nz-icon nzType="left" nzTheme="outline"></i></button>
      <button nz-button nzType="default" nz-tooltip nzTitle="后一单" (click)="moveNext()"><i nz-icon nzType="right" nzTheme="outline"></i></button>
      <button nz-button nzType="default" nz-tooltip nzTitle="末单" (click)="moveLast()"><i nz-icon nzType="vertical-left" nzTheme="outline"></i></button>
  </nz-button-group>&nbsp;

  <nz-button-group>
      <button nz-button nzType="default">审核</button>
      <button nz-button nzType="default" nz-tooltip nzTitle="取消审核"><i nz-icon nzType="undo" nzTheme="outline"></i></button>
  </nz-button-group>&nbsp;

  <nz-button-group>
      <button nz-button nzType="default">作废</button>
      <button nz-button nzType="default" nz-tooltip nzTitle="取消作废"><i nz-icon nzType="undo" nzTheme="outline"></i></button>
  </nz-button-group>&nbsp;
  

  <nz-button-group>
      <a #fr href="http://localhost:8080/femisnsb/ReportServer?reportlet=%E9%9D%A2%E6%96%99%E8%AE%A2%E5%8D%95%E5%8D%95%E6%8D%AE.cpt&mainId=43&format=excel" target="blank">新窗口报表</a>
      <button nz-button nzType="dashed" (click)="hifr()">隐式触发</button>
      <button nz-button nzType="primary" (click)="btnDirec()">按钮直接</button>
      <button nz-button nzType="danger" (click)="useJs()">调用js直接打印</button>
      <button nz-button nzType="default" (click)="printBillReport()"><i nz-icon nzType="printer" nzTheme="outline"></i>打印</button>
      <button nz-button nzType="default" (click)="ptable.exportCSV()"><i nz-icon nzType="file-excel" nzTheme="outline"></i>导出</button>
  </nz-button-group>


  &nbsp;
  <img *ngIf="billStatus" src="assets/imgs/已保存.png" alt="已保存" width="88" height="30" style="vertical-align: top">
</div>&nbsp;

<!-- 主表表单 style="background-color: burlywood"  (ngSubmit)="submitMainform()"-->
<form 
  nz-form 
  [nzLayout]="'inline'"
  [formGroup]="mainForm"
>

  <nz-form-item>
      <nz-form-label [nzSpan]="7" >单据编号</nz-form-label>
      <nz-form-control class="codeid" [nzSpan]="17" nzErrorTip="必填项">
          <input nz-input formControlName="codeid" nz-tooltip nzTitle="自动生成，可手动输入" nzSize="small"/>
      </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">单据日期</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
      <nz-date-picker formControlName="billdate" placeholder="单据日期"
        (ngModelChange)="onChangeBilldate($event)"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">交期</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
      <nz-date-picker formControlName="deliverytime" placeholder="交期"
        (ngModelChange)="onChangeDeliverytime()"></nz-date-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">客户</nz-form-label>
    <nz-form-control [nzSm]="17">
      <!-- <input nz-input formControlName="clientid" placeholder="客户" /> -->

      <nz-select nzShowSearch nzAllowClear
        formControlName="clientid" placeholder="客户">
        <nz-option *ngFor="let item of dddContactCompany" 
          nzValue="{{item.sid}}" nzLabel="{{item.sid}} - {{item.name}}"></nz-option>
      </nz-select>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">合同号</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
      <input nz-input formControlName="pactcode" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">接单抬头</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
      
      <nz-select nzShowSearch nzAllowClear
        formControlName="contractor" placeholder="接单抬头">
        <nz-option *ngFor="let item of dddCompanyTitle" 
          nzValue="{{item.sid}}" nzLabel="{{item.sid}}"></nz-option>
      </nz-select>

    </nz-form-control>
  </nz-form-item>


  <nz-form-item >
    <nz-form-label [nzSpan]="7">销售类型</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
      
      <nz-select nzShowSearch nzAllowClear
        formControlName="salecategory" placeholder="销售类型">
        <nz-option *ngFor="let item of dddSaleCategory" 
          nzValue="{{item.sid}}" nzLabel="{{item.sid}}"></nz-option>
      </nz-select>
      
    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">结算方式</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
      
      <input nz-input formControlName="settlement"
        (ngModelChange)="onChangeSettlment($event)" [nzAutocomplete]="tplSettlement"/>
      <nz-autocomplete #tplSettlement>
        <nz-auto-option *ngFor="let option of optSettlement" [nzValue]="option">
          {{ option }}
        </nz-auto-option>
      </nz-autocomplete>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">交货方式</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
      
      <input nz-input formControlName="deliverytype"
        (ngModelChange)="onChangeDeliverytype($event)" [nzAutocomplete]="tplDeliverytype"/>
      <nz-autocomplete #tplDeliverytype>
        <nz-auto-option *ngFor="let option of optDeliveryType" [nzValue]="option">
          {{ option }}
        </nz-auto-option>
      </nz-autocomplete>


    </nz-form-control>
  </nz-form-item>

  <nz-form-item >
    <nz-form-label [nzSpan]="7">包装方式</nz-form-label>
    <nz-form-control [nzSpan]="17" nzErrorTip="必填项">

      <input nz-input formControlName="packmanner"
        (ngModelChange)="onChangePackmanner($event)" [nzAutocomplete]="tplPackmanner"/>
      <nz-autocomplete #tplPackmanner>
        <nz-auto-option *ngFor="let option of optPackmanner" [nzValue]="option">
          {{ option }}
        </nz-auto-option>
      </nz-autocomplete>


    </nz-form-control>
  </nz-form-item>


  <nz-form-item >
      <nz-form-label [nzSpan]="7">备注</nz-form-label>
      <nz-form-control [nzSpan]="17" nzErrorTip="必填项">
        <input nz-input formControlName="remark" />
      </nz-form-control>
    </nz-form-item>
  
  <!-- <nz-form-item>
    <nz-form-control [nzSpan]="14" [nzOffset]="44">
      <button nz-button nzType="primary">保存</button>
    </nz-form-control>
  </nz-form-item> -->
</form>


<!-- 
  明细表，标准样式下，汉字个数对应的 px 数值：
  2 = 65px,3 = 75px,4 = 90px,,,,,,,,
  在 2019年7月20日 10:28:11 修改为使用 PrimeNG Table
-->
<br>
<!-- 
  下面是单行选中用到的属性：
  1. 在 p-table 中设置：selectionMode="single" [(selection)]="selectedRow" 
  2. 在 body 的 tr 中设置：[pSelectableRow]="rowData"
-->
<!-- <button nz-button><i nz-icon nzType="plus" nzTheme="outline"></i>新增行</button> -->
<p-table #ptable [columns]="displayedCols" [value]="tableData" dataKey="id"
  [scrollable]="true" scrollHeight="500px" [resizableColumns]="true" class="table-ellipsis"
  >
  <ng-template pTemplate="caption">
      <!-- <div style="display: table;vertical-align: middle;text-align: center"> -->
      <div class="tableCaptionContainer" style="display: flex;align-items: center">
          <div class="tableCaptionLeft">
              <a (click)="addNewRow($event)">
              <i nz-icon nzType="plus" nzTheme="outline"></i>&nbsp;新增行</a>&nbsp;

              <a (click)="deleteRow($event)">
              <i nz-icon nzType="delete" nzTheme="outline"></i>&nbsp;删除行</a>&nbsp;
              <i style="color:RGB(191,191,191)">点击想要删除的行的“订单号”然后点击“删除行”</i>
          </div>

              <!-- <button pButton type="button" icon="pi pi-pencil" (click)="addNewRow($event)">新增行</button> &nbsp;
              <button pButton type="button" icon="pi pi-times" (click)="deleteRow($event)">删除行</button> &nbsp; -->

          <!-- <nz-button-group [nzSize]="default">
              <button nz-button nzType="primary" (click)="addNewRow($event)"><i nz-icon nzType="plus" nzTheme="outline"></i>新增行</button>
              <button nz-button nzType="danger" (click)="deleteRow($event)"><i nz-icon nzType="delete" nzTheme="outline"></i>删除行</button>
          </nz-button-group>&nbsp; -->

          <div class="tableCaptionRight">
              <p-multiSelect [options]="cols" [(ngModel)]="displayedCols" optionLabel="header"
              selectedItemsLabel="共显示{0}列" [style]="{minWidth: '200px'}" defaultLabel="选择显示的列"></p-multiSelect>
          </div>
      </div>
  </ng-template>

  <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
          <col style="width:50px;">
          <col *ngFor="let col of columns" style="width:130px">
          <!-- <col style="width: 100px;"> -->
      </colgroup>
  </ng-template>


  <ng-template pTemplate="header" let-columns>
      <tr>
          <th>#</th>
          <th *ngFor="let col of columns" pResizableColumn>
              {{col.header}}
          </th>

          <!-- <th pResizableColumn>序号</th><th pResizableColumn>订单号</th><th pResizableColumn>源订单号</th><th pResizableColumn>款号</th>
          <th pResizableColumn>品名</th><th pResizableColumn>门幅</th><th pResizableColumn>克重</th><th pResizableColumn>颜色示例</th>
          <th pResizableColumn>色号</th><th pResizableColumn>颜色</th><th pResizableColumn>公斤</th><th pResizableColumn>米数</th>
          <th pResizableColumn>码数</th><th pResizableColumn>单价</th><th pResizableColumn>金额</th><th pResizableColumn>计价单位</th>
          <th pResizableColumn>制版费</th><th pResizableColumn>中样费</th><th style="width:8em">操作</th> -->
      </tr>
  </ng-template>

  <!-- <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns" pEditableColumn>
              {{rowData[col.field]}}
          </td>
      </tr>
  </ng-template> -->

  <ng-template pTemplate="body" let-rowData let-ri="rowIndex" 
      let-columns="columns">
      <tr>

          <td>{{ ri + 1 }}</td>
    
          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('ordercode')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input type="text" pInputText [(ngModel)]="rowData.ordercode" class="editCtl" 
                          (focus)="setSelectedRowIndex(ri)"/>

                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.ordercode}}
                  </ng-template>
              </p-cellEditor>
          </td>

          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('oordercode')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input type="text" pInputText [(ngModel)]="rowData.oordercode" class="editCtl"/>
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.oordercode}}
                  </ng-template>
              </p-cellEditor>
          </td>


          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('stylecode')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input type="text" pInputText [(ngModel)]="rowData.stylecode" class="editCtl"/>
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.stylecode}}
                  </ng-template>
              </p-cellEditor>
          </td>


          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('goodsname')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input type="text" pInputText [(ngModel)]="rowData.goodsname" class="editCtl"/>
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.goodsname}}
                  </ng-template>
              </p-cellEditor>
          </td>


          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('spec01')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.spec01" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.spec01}}
                  </ng-template>
              </p-cellEditor>
          </td>
  
          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('spec02')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.spec02" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.spec02}}
                  </ng-template>
              </p-cellEditor>
          </td>

          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('color')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.color" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.color}}
                  </ng-template>
              </p-cellEditor>
          </td>
  
  
          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('colorcode')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.colorcode" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.colorcode}}
                  </ng-template>
              </p-cellEditor>
          </td>
  
          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('colorname')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.colorname" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{rowData.colorname}}
                  </ng-template>
              </p-cellEditor>
          </td>


          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('kg')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.kg" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.kg}}
                  </ng-template>
              </p-cellEditor>
          </td>

          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('meter')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.meter" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.meter}}
                  </ng-template>
              </p-cellEditor>
          </td>
      
          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('yard')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.yard" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.yard}}
                  </ng-template>
              </p-cellEditor>
          </td>

          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('price')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.price" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.price}}
                  </ng-template>
              </p-cellEditor>
          </td>
  
          
          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('amount')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.amount" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.amount}}
                  </ng-template>
              </p-cellEditor>
          </td>
          
          
          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('chargeunit')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.chargeunit" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.chargeunit}}
                  </ng-template>
              </p-cellEditor>
          </td>


          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('platemake')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.platemake" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.platemake}}
                  </ng-template>
              </p-cellEditor>
          </td>

          <td pEditableColumn class="ui-resizable-column" *ngIf="td2Display('sample')">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.sample" class="editCtl">
                  </ng-template>
                  <ng-template pTemplate="output">
                          {{rowData.sample}}
                  </ng-template>
              </p-cellEditor>
          </td>    

      </tr>
  </ng-template>


  
</p-table>


<p-toast></p-toast>