// div.toolbar{
//     height: 300px;
//     margin: 10px;
//     background-color: bisque
// }

// div.area{
//     background-color: darkgray;
//     height: 100px;
//     width: 200px;
// }

div .name span{
    color:#68666925;
    text-align:center;
}

.alignCenter{
    text-align:center;
}

.toolbutton{
    
}

.toolbutton:hover{
    cursor: pointer;
    border: 2px,solid,red;
}
// div.chunk{
//     float: left;
// }