<div class="toolbar" nz-row><!-- 整个工具栏 -->
  <!-- 功能区域：数据编辑 -->
  <div class="area" nz-col nzSpan="3">
    <div class="func" nz-row>
      <div nz-col nzSpan="12" class="toolbutton">
        <div nz-row class="alignCenter"><div nz-col nzSpan="24"><i nz-icon nzType="save" nzTheme="outline"></i></div></div>
        <div nz-row class="alignCenter"><div nz-col nzSpan="24">保存</div></div>
      </div>

      <div nz-col nzSpan="12">
        <div nz-row>
          <div nz-col nzSpan="24" class="toolbutton"><i nz-icon nzType="plus" nzTheme="outline"></i>新增</div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="24" class="toolbutton"><i nz-icon nzType="close" nzTheme="outline"></i>删除</div>
        </div>
      </div>
    </div>
    <div class="name" nz-row>
      <div nz-col nzSpan="24" class="alignCenter"><span>数据编辑</span></div>
    </div>

  </div>

  <!-- 功能区域：翻页 -->

  <!-- 功能区域：决策 -->

  <!-- 功能区域：输出 -->
</div>